<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="blog.css"/>
</head>
<body>


<div th:fragment="navbar" class="navbar navbar-expand sticky-top bg-success row">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-8 mr-auto">
    <a href="/login">
        <button type="button" class="btn btn-outline-light">Login</button>
    </a>
    <a href="/posts">
        <button type="button" class="btn btn-outline-light">View Posts</button>
    </a>
    <a href="/posts/create">
        <button type="button" class="btn btn-outline-light">Write Post</button>
    </a>
    <a href="/viewProfile">
        <button type="button" class="btn btn-outline-light">Profile</button>
    </a>
    <a href="/register">
        <button type="button" class="btn btn-outline-light">Sign Up</button>
    </a>
    </div>
    <div class="navbar-nav ml-auto col-3">
        <form action="/posts/search" method="POST" class="form-inline my-auto">
            <input class="form-control mx-2" type="search" name="searchTerm" placeholder="Search posts..." aria-label="Search"/>
            <button class="btn btn-outline-light ml-2" type="submit">Search</button>
        </form>
    </div>
</div>
<div th:fragment="background" id="background">
    <!--<div id="1" class="container-fluid"><img src="../../static/Images/taco1.jpg"/></div>-->
    <!--<div id="2" class="container-fluid"><img src="../../static/Images/taco2.jpg"/></div>-->
    <!--<div id="3" class="container-fluid"><img src="../../static/Images/taco3.jpg"/></div>-->
    <!--<div id="4" class="container-fluid"><img src="../../static/Images/taco4.jpg"/></div>-->
    <!--<div id="5" class="container-fluid"><img src="../../static/Images/taco5.jpg"/></div>-->
    <!--<div id="6" class="container-fluid"><img src="../../static/Images/taco6.jpg"/></div>-->
    <!--<div id="7" class="container-fluid"><img src="../../static/Images/taco7.jpg"/></div>-->
    <!--<div id="8" class="container-fluid"><img src="../../static/Images/taco8.jpg"/></div>-->
    <!--<div id="9" class="container-fluid"><img src="../../static/Images/taco9.jpg"/></div>-->
    <!--<div id="10" class="container-fluid"><img src="../../static/Images/taco10.jpg"/></div>-->
    <!--<div id="11" class="container-fluid"><img src="../../static/Images/taco11.jpg"/></div>-->
</div>




<div th:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>

        var imageArray = [
            "",
            "../../static/Images/taco1.jpg",
            "../../static/Images/taco2.jpg",
            "../../static/Images/taco3.jpg",
            "../../static/Images/taco4.jpg",
            "../../static/Images/taco5.jpg",
            "../../static/Images/taco6.jpg",
            "../../static/Images/taco7.jpg",
            "../../static/Images/taco8.jpg",
            "../../static/Images/taco9.jpg",
            "../../static/Images/taco0.jpg",
            "../../static/Images/taco10.jpg",
            "../../static/Images/taco11.jpg"
        ];
        $(document).ready(setInterval(function(){
            var randomIndex = Math.ceil(Math.random()*11);
            console.log (randomIndex);
            var imageChoice = imageArray[randomIndex];
            console.log(imageChoice);
            $("#background").css("background-image",imageChoice);
        }, 1000))


    </script>
</div>
</body>
</html>