<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/blog.css"/>
</head>
<body>

<div th:fragment="navbar" class="navbar navbar-expand sticky-top bg-success row">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-8 mr-auto">
    <a href="../login">
        <button type="button" class="btn btn-outline-light">Login</button>
    </a>
    <a href="../posts">
        <button type="button" class="btn btn-outline-light">View Posts</button>
    </a>
    <a href="../posts/create">
        <button type="button" class="btn btn-outline-light">Write Post</button>
    </a>
    <a href="../viewProfile">
        <button type="button" class="btn btn-outline-light">Profile</button>
    </a>
    <a href="../register">
        <button type="button" class="btn btn-outline-light">Sign Up</button>
    </a>
    </div>
    <div class="navbar-nav ml-auto col-3">
        <form action="/posts/search" method="POST" class="form-inline my-auto">
            <input class="form-control mx-2" type="search" name="searchTerm" placeholder="Search posts..." aria-label="Search"/>
            <button class="btn btn-outline-light ml-2" type="submit">Search</button>
        </form>
    </div>
</div>




<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

        // --------------------------CUSTOM JS GOES HERE--------------------------------

    </script>
</div>
</body>
</html>