<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="navbarFragment" class="navbar navbar-expand sticky-top navbar-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="../login">
    <button type="button" class="btn btn-outline-dark">Login</button>
    </a>
    <a href="../viewPosts">
        <button type="button" class="btn btn-outline-dark">View Posts</button>
    </a>
    <a href="../createPost">
        <button type="button" class="btn btn-outline-dark">Write Post</button>
    </a>
    <a href="../viewProfile">
        <button type="button" class="btn btn-outline-dark">Profile</button>
    </a>
    <a href="../register">
        <button type="button" class="btn btn-outline-dark">Sign Up</button>
    </a>
    <div class="navbar-nav ml-auto">
        <form action="/posts/search" method="POST" class="form-inline my-auto">
            <input class="form-control mx-2" type="search" name="searchTerm" placeholder="Search posts..." aria-label="Search">
            <button class="btn btn-outline-dark ml-2" type="submit">Search</button>
        </form>
    </div>
</div>

</body>
</html>